body {
    background-color: #816C61;
}

.jumbotron{
    background-color: #D5BF86;
    border-radius: 5%;
}

.card {
    background-color:#F7F6C5;
    border: 10% black;
}

.card-footer {
    background-color:  #F1F0CC;
}
